.overflow{
  overflow: hidden;
}

// style wrap
.wrap{
  font-family: var(--Gibson);
  color: var(--main-color);
  max-width: 100vw;
  width:100%;
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 150%;
}
//

//style container
.container{
  width: 100%;
  max-width: 144rem;
  padding: 10rem 11.8rem;
  margin: 0 auto;
  font-family: var(--Gibson);
  color:  var(--main-color);
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 150%;
  &__less{
    max-width: 99.8rem;
    width: 100%;
    margin: 0 auto;
  }
  &__overflow{
    padding: 0;
    overflow: hidden;
  }
}
//

// section style
.section {
  &__black {
    background: linear-gradient(165.52deg, #000F2E 29.9%, #000000 130.06%);
  }
  &__blue{
    background-color: var(--color-subtitle);
  }
  &__title {
    margin-bottom: 3.2rem;
    & > * {
      font-weight: 700;
      font-size: 9.2rem;
      line-height: 9.2rem;
      color: var(--color-white);
    }
    &-less {
      margin-bottom: 4rem;
      & > * {
      font-weight: 700;
      text-align: center;
      font-size: 7.2rem;
      line-height: 7.2rem;
      color:  var(--main-color);
      }
    }
    &-least > * {
      font-weight: 700;
      font-size: 5.4rem;
      line-height: 5.4rem;
      color:  var(--main-color);
    }
    &-thin > *{
      font-weight: 400;
      font-size: 12.1rem;
      line-height: 110%;
      letter-spacing: 0.02em;
      color: #000000;
      text-transform: uppercase;
      width: max-content;
    }
    &-black > * {
      color:  var(--main-color);
    }

    &-white > * {
      color: var(--color-white);
    }
    &-overflow {
      padding: 10rem 0 0 10.6rem;
      margin-bottom: 4rem;
      & > *{
        font-size: 24.1rem;
        line-height: 24.1rem;
        width: max-content;
        font-weight: 700;
        color: var(--color-white);
      }
    }
    &-center{
      text-align: center
    }
  }
  &__desc {
    & > * {
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 3.2rem;
      color: var(--color-desc);
    }
    &-main > *{
      font-size: 2rem;
      line-height: 3.2rem;
      color: var(--main-color);
      margin-bottom: 3rem;
      &:not(:last-child){
        margin-bottom: 5rem;
      }
    }
    &-less > *{
      font-size: 2rem;
        &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }
    &-middle > *{
      font-size: 2.2rem;
      line-height: 3.8rem;
      color: var(--color-footer);
    }
    &-column {
      column-count: 2;
      column-gap: 3.2rem;
      margin: 0 auto;
      & > * {
        width: 48.3rem;
      }
    }
  }

  &__text > * {
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--color-desc);
    overflow: hidden;
  }

  &__subtitle {
    & > * {
      font-weight: 300;
      font-size: 2.2rem;
      line-height: 2.2rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: var(--color-subtitle);
    }
    &-center {
      text-align: center;
    }
  }

  &__linkto {
    & > * {
      font-weight: 400;
      font-size: 1.6rem;
      color: var(--color-white);
      padding: 0.4rem 0;
      width: max-content;
      transition: all 0.2s ease;
      display: inline-block;
      position: relative;
      &:hover {
        color: var(--color-orange);
      }
      &:after {
        content: "";
        display: inherit;
        height:2.8rem;
        width:2.8rem;
        background-size: 2.8rem 2.8rem;
        background-image: url("../img/icon/ar.svg");
        background-repeat: no-repeat;
        position: relative;
        bottom: -0.8rem;
        left: 0.8rem;
      }
    }
  }
  &__modal{
    display: none;
    min-width: 30rem;
    min-height: 20rem;
    background: var(--color-white);
    border-radius: 0.2rem;
    &-content{
      text-align: center;
      display: flex;
      align-items: center;
      font-size: 2.4rem;
      font-family: var(--Gibson);
    }
  }
}


//header style
.header{
  padding: 4.4rem 4.8rem 0;
  position: relative;
  overflow: visible;
  &__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    max-width: 20rem;
    max-height: 3.5rem;
    display: block ;
  }
  &__flex{
    display: flex;
    justify-content: flex-end;
  }
  &__menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-item{
      margin-right: 4rem;
      font-size: 1.4rem;
      transition: all 0.2s ease;
      &:hover{
        color:var(--color-back) ;
      }
    }
  }
  &__social{
    display: flex;
    &-item{
      position: relative;
      margin-right: 1.5rem;
    }
  }
  &__hidden{
    &-item{
      &:first-child {
        margin-bottom: 7vh;
      }
    }
    &-img{
      position: absolute;
      top: 4.7rem;
      left: 11.8rem;
      width: 3.7rem;
      height: 3.5rem;
    }
    &-block{
      &:first-child{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &:last-child{
        margin-left: 27rem;
      }
    }
    &-title{
      font-size: 4.4rem;
      line-height: 4.4rem;
      color: var(--color-subtitle);
      margin-bottom: 3.2vh;
    }
    &-list{
      li{
        margin-bottom: 2rem;
      }
      a{
        font-style: normal;
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 1.6rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: var(--color-desc);
        &:hover{
          color:var(--main-color);
          font-weight: 500;
        }
      }
    }
    &-link{
      li{
        margin-bottom: 4.8rem;
      }
      a{
        font-size: 3.2rem;
        line-height: 3.2rem;
        opacity: 0.8;
        &:hover{
          color:var(--color-subtitle);
        }
      }
    }
  }
  &__burger{
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background: var(--color-back);
    border-radius: 100% ;
    cursor: pointer ;
    position: relative;
    z-index: 1;
    &-container{
      padding: 0 11.8rem;
      position: relative;
      height: 100vh;
    }
    & > *{
      width: 1.4rem;
      height: 0.2rem;
      background: var(--color-white);
      border-radius: 0.2rem;
      transition: .7s ease;
      &:first-child{
        margin-bottom: 0.6rem;
      }
    }
    &-open{
      background-color: var(--main-color);
      span{
        display: block;
        position: absolute;
        &:nth-child(1) {
          transform: rotate(-45deg);
          transition: .7s ease;
          background: var(--color-white);
          margin: 0;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
          transition: .7s ease;
          background: var(--color-white);
        }

      }
    }
    &-menu {
      display: none;
      transition-delay: 0.5s;
      pointer-events: none;
      cursor: default;
      justify-content: flex-start;
      padding: 21vh 0 5vh 22.2rem;
      background: var(--color-white);
      width: 100vw;
      height: 100vh;
      position: absolute;
      left: 0;
      top: 0;
    }
    &-visible{
      display: flex;
    }
    &-wrap{
      height: 100vh;
      position: absolute;
      left: 0;
      width: 100%;
      overflow: hidden;
    }
    &-relative{
      background-color:var(--color-white);
      position:relative;
      top: -10rem;
      height: calc(100vh + 10rem);
    }
  }
}


//main block style
.main{
  &__wrap{
    position: relative;
    padding-top:6.8rem;
    padding-bottom:16.2rem;
    &-less{
      padding-top:6.8rem;
      padding-bottom:8.2rem;
      position: relative;
    }
  }
  &__title{
    margin-bottom: 5rem;
    position: relative;
    z-index: 1;
    & > *{
      font-weight: 700;
      font-size: 13.2rem;
      line-height: 12.4rem;
      color: var(--color-white);
      -webkit-text-stroke: 0.1rem var(--main-color);
    }
  }
  &__img{
    max-width:135.1rem;
    max-height:64.3rem;
    //width: 100%;
    //height: 100%;
    position: absolute;
    top: -1.5rem;
    right: 9rem;
  }
  &__social{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 31rem;
    right: 5rem;
    z-index: 3;
    &-item{
      width: 3.6rem;
      height: 3.6rem;
      background: rgba(255, 255, 255, 0.6);
      border: .1rem solid #F2F3F5;
      box-shadow: 0.2rem 2.4rem 3.4rem -10rem rgba(0, 0, 0, 0.04);
      backdrop-filter: blur(1.2rem);
      border-radius: 2.4rem;
      display: block;
      position: relative;
      transition: all 0.2s ease;
      &>*{
        width: 100%;
        height: 100%;
        display: block;
      }
      &:hover{
        border: .1rem solid var(--main-color);
      }
      &:not(:last-child){
        margin-bottom: 1.6rem;
      }
    }
    &-svg{
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: var(--main-color);
      stroke:  var(--main-color);
      path:  var(--main-color);
    }
  }
  &__contactus{
    position: fixed;
    right: 2rem;
    top: 62rem;
    width: 10rem;
    height: 10rem;
    z-index: 3;
    &-top{
      top: 68vh;
    }
  }
  &__flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4rem;
    &-img{
      height: 10rem;
      width: max-content;
    }
    &-left{
      margin-right: 6rem;
    }
    &-right{
      margin-left: 6rem;
    }
  }
}



.whatdo{
  &__wrap{
    padding-top: 15rem;
    padding-bottom: 15rem;
  }
  &__list{
    display: flex;
    justify-content: flex-start;
    margin-top: 8rem;
  }
  &__desc{
    max-width: 99.6rem;
  }
  &__item{
    max-width: 32.2rem;
    width: 100%;
    &:not(:last-child){
      margin-right: 8.9rem;
    }
  }
  &__subtitle {
    margin-bottom: 1.6rem;
    & > * {
      font-weight: 300;
      font-size: 1.4rem;
      line-height: 1.4rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: var(--color-desc);
      display: inline-block;
    }
  }
  &__title > *{
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 3.6rem;
    color: var(--color-white);
  }
  &__text {
    margin: 3.2rem 0 2.2rem ;
    max-height: 12rem;
    height: 100%;
  }
}

.projects{
  text-align: center;
  &__title > *{
    font-weight: 600;
    font-size: 5.6rem;
    line-height: 5.6rem;
    color:var(--color-subtitle);
    margin-bottom: 2.4rem;
    transition: all 0.2s ease;
    &:hover{
      color:  var(--main-color);
    }
  }
  &__wrap{
    padding-top: 19rem;
    padding-bottom: 9rem;
  }
  &__list{
    margin-top: 15rem;
  }

  &__item{
    &:not(:last-child){
      background-image: linear-gradient(to right, var(--color-desc) 30%, rgba(255, 255, 255, 0) 10%);
      background-position: bottom;
      background-size: 0.5rem 0.2rem;
      background-repeat: repeat-x;
      padding-bottom: 5.4rem;
      margin-bottom: 5.4rem;
    }
  }
  a{
    display: inline-block;
  }

}

.insights{
  &__wrap{
    padding-top: 27.4rem;
    position: relative;
  }
  &__back{
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%);
    width:41.3rem;
    height:45.2rem;
    z-index: 1;
  }
  &__list{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 132rem;
  }
  &__item{
    max-width: 39.7rem;
    width: 100%;
    margin-right: 1rem;
  }
  &__title > *{
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 4rem;
  }
  &__text{
    margin: 1.6rem 0 2.4rem;
    //max-height: 4.8rem;
    //overflow: hidden;
  }
  &__img{
    max-width: 38.7rem;
    max-height: 37rem;
    width: 100%;
    height: 100%;
  }
  &__block{
    text-align: center;
    position: relative;
    z-index: 2;
    margin-bottom: 10rem;
  }
  &__paragraph{
    padding: 6rem 11.8rem 16rem;
    position: relative;
    font-weight: 300;
    font-size: 4.1rem;
    line-height: 7.2rem;
    text-align: center;
    mark{
      color: var(--color-back);
      background: none;
    }
    &:before{
      content: url("../img/icon/paragraph.svg");
      position: absolute;
      top:3rem;
      left:10rem;
    }
  }
  &__linkto{
    position: absolute;
    bottom: 14rem;
    left:calc(50% + 51.5rem);
    z-index: 3;
  }
  &-next,&-prev{
    background-color: transparent;
    position: absolute;
    top: 53rem;
    left: 0;
    cursor: pointer;
    width: 4.8rem;
    height: 4.8rem;
    border: none;
    &:after{
      top: 0;
      left: 0;
      width: 4.8rem;
      height: 4.8rem;
      content: "";
      display: inherit;
      background-size: 4.8rem 4.8rem;
      background-image: url("../img/icon/Right.svg");
      background-repeat: no-repeat;
      position: absolute;
    }
  }
  &-next{
    left: 6.5rem;
  }
  &-prev:after{
    transform:scale(-1, 1) ;
  }

  .slick-list {
    padding-left: 0!important;
    padding-right: 10rem;

  }
  &__slider{
    max-width: 144rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
    //height: 70rem;
    z-index: 2;
    padding-left: 11.8rem;
    padding-bottom: 18.2rem;
    &-block{
      position: relative;
      overflow: hidden;
      top: -10rem;
      &:after{
        content: '';
        position: absolute;
        height: 30rem;
        width: 100vw;
        bottom:0;
        background: var(--color-back);
        z-index: 1;
      }
    }
    .slick-dots {
      display: flex;
      list-style-type: none;
      position: absolute;
      bottom:-11rem;
      left: 0;
      max-width: 121rem;
      li {
        margin: 0 ;
        width: 100%;
        height: 0.1rem;
        button {
          display: block;
          width: 100%;
          height: 100%;
          padding: 0;
          border: 0.1rem;
          background: var(--color-subtitle);
          text-indent: -9999px;
        }
      }
      li.slick-active button {
        height: 0.6rem;
        background: var(--color-white);
        position: relative;
        top: -0.5rem;
      }
    }
  }
}

.offer{
  overflow: visible;
  &__wrap{
    padding: 12rem 0 4rem ;
    position: relative;
    margin: 0 auto;
    overflow: visible;
  }
  &__desc {
    margin: 4.8rem 0 8.7rem;
    & > *{
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.6rem;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: var(--color-white);

    }
  }
  &__list{
    display: flex;
    justify-content: center;
    &:first-child{
      margin-bottom: 10rem;
    }
  }
  &__item{
    width: 11.1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &:not(:last-child){
      margin-right: 14rem;
    }
  }
  &__img{
    width: 8.2rem;
    height: 8.2rem;
    margin-bottom: 3.2rem;
  }
  &__text{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--color-white);
  }
  &__join{
    width:100%;
    background: var(--color-white);
    padding: 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: -12rem;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    box-shadow: 0 1.6rem 4rem rgba(112, 144, 176, 0.25);
    border-radius: 0.3rem;
    &-title > *{
      font-weight: 600;
      font-size: 4rem;
      line-height: 4rem;
      margin-bottom: 1.2rem;
    }
    &-desc >*{
      font-style: normal;
      font-weight: 300;
      font-size: 2rem;
      line-height: 3.2rem;
      color: var(--color-desc);
    }
    &-button{
      & > *{
        padding: 1.5rem 5rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: var(--color-white);
        background: var(--color-back);
        position: relative;
        z-index: 2;
        transition: all 0.2s ease;
        &:hover{
          background-color:  var(--main-color);
        }
      }
    }
    &-back{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }
}


.subs{
  &__wrap{
    padding: 23rem 0 13.2rem ;
  }
  &__title > *{
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 5.4rem;
    text-align: center;
    color:  var(--main-color);
  }
  &__desc {
    text-align: center;
    margin: 2.4rem 0;
    & > *{
      font-size: 2.2rem;
    }
    &-blue > *{
      text-align: center;
      color: var(--color-subtitle);
      margin-bottom: 3.2rem;
      font-weight: 400;
    }
  }
  &__form{
    max-width: 79.2rem;
    margin: 0 auto;
  }
  &__input{
    width: 100%;
    border: none;
    border-bottom: 0.1rem solid var(--color-footer);
    padding: 2.6rem 0;
    margin-bottom: 2.4rem;
    font-size: 2rem;
    &-item{
      position: relative;
    }
    &:focus-visible{
      outline: none;
    }
    &::placeholder{
      font-family: var(--Gibson);
      font-weight: 300;
      font-size: 2rem;
      color: var(--color-desc);
    }
    &-block{
      display: flex;
      justify-content: space-between;
    }
    &-less{
      width: 38rem;
      &:first-child{
        margin-right: 3.2rem;
      }
    }
  }
  &__button{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.6rem;
    & > *{
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: var(--color-white);
      background: var(--color-back);
      padding: 1.5rem 4.5rem;
      border: none;
      transition: all 0.2s ease;
      cursor: pointer;
      &:hover{
        background-color:  var(--main-color);
      }
    }
  }
}

//footer style
.footer{
  background: black;
  position: relative;
  z-index: 2;
  &__wrap{
    padding: 10rem 11.8rem 8.5rem;
  }
  &__container{
    margin-bottom: 11.5rem;
  }
  &__subs{
    padding: 3.2rem 0 5rem;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      width: 120rem;
      height: 0.1rem;
      left: 50%;
      transform: translate(-50%);
      background-image: linear-gradient(to right, var(--color-desc) 30%, rgba(255, 255, 255, 0) 10%);
      background-position: top;
      background-size: 0.5rem 0.2rem;
      background-repeat: repeat-x;
    }
  }
  &__form{
    &-block{
      display: flex ;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
    &-input{
      padding: 2.8rem 0;
      max-width:84.7rem;
      width: 100%;
      border: none;
      background: transparent;
      color: var(--color-white);
      font-size: 2.6rem;
      &::placeholder{
        font-family: var(--Gibson);
        font-weight: 300;
        font-size: 2.6rem;
        color: var(--color-desc);
      }
      &:focus-visible{
        outline: none;
      }
    }
    &-button{
      padding: 1.5rem 3.7rem;
      border: 0.1rem solid var(--color-back);
      background: transparent;
      color: var(--color-white);
      font-size: 1.6rem;
      line-height: 2.4rem;
      transition: all 0.2s ease;
      cursor: pointer;
      &:hover{
        background-color: var(--color-back);
      }
    }
  }
  &__content{
    display: flex;
    justify-content: space-between;
    font-family: var(--Gibson);
    margin-bottom: 14.1rem;
  }
  &__logo{
    width: 5.4rem;
    height: 5.1rem;
    margin-bottom: 5.9rem;
  }
  &__info{
    margin-right: 4.5vw;
    &-text > *{
      font-weight: 300;
      font-size: 1.4rem;
      color: var(--color-white);
      width: max-content;
      display: block;
    }
  }
  &__block{
    &:not(:last-child){
      margin-right:7vw ;
    }
  }
  &__item{
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: var(--color-footer);
    margin-bottom: 1.6rem;
    width: max-content;
    &-title>*{
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 1.6rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: var(--color-desc);
      margin-bottom: 3.2rem;
      width: max-content;

    }

    & > a{
      transition: all 0.2s ease;
      &:hover{
        color: var(--color-back) ;
      }
    }
  }
  &__social{
    display: flex;
    &-item{
      margin-left: 2.6rem;
    }
    &-svg{
      stroke: var(--color-white);
      fill: var(--color-white);
      width: 2.4rem;
      height: 2.4rem;
      transition: all 0.2s ease;
      &:hover{
        stroke: var(--color-back);
        fill:var(--color-back);
      }
    }
  }
  &__bottom{
    display: flex ;
    justify-content: space-between;
    &-logo{
      width: 2.2rem;
      height: 2rem;
    }
    &-text{
      font-size:1.4rem;
      color: var(--color-desc);
      margin-left: 3.2rem;
    }
    &-block{
      display: flex ;
    }
  }

}
//

//cx pge
.cx{
  header{
    background-color: var(--color-cx);
  }
  &__main{
    background-color: var(--color-cx);
  }
  &__footer{
    position: relative;
    z-index: 3;
  }
}

.research{
  &__wrap{
    position: relative;
    padding: 10rem 0 11rem;
  }
  &__img{
    max-width:120.4rem;
    max-height:65.6rem;

    margin: 0 auto ;
  }
  &__desc{
    margin: 5.6rem 0 13rem;
  }
  &__title mark{
    background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
}

.design{
  &__column{
    & > *{
      max-width: 38rem;
    }
  }
  &__img{
    max-width:99.7rem;
    max-height:54.9rem;
    width: 100%;
    height: 100%;
    margin: 5rem auto;
  }
  &__desc{
    margin: -2.5rem 10.3rem 3rem;
  }
  &__title mark{
    background: linear-gradient(141.39deg, #d56569 13.88%, #eaa86d 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
}

.experience{
  &__wrap{
    padding: 0rem  1.3rem 20rem 11.8rem;
    display: flex ;
    justify-content: space-between;
  }
  &__title > *{
    text-align: left;
  }
  &__block{
    margin-right: 3.2rem;
  }
  &__item{
    max-width: 58.6rem;
    &:last-child{
      margin-top: 18.2rem;
    }
  }
  &__img{
    max-width: 69.1rem;
    max-height:69.7rem;
    width: 100%;
    height: 100%;
    position: relative;
    top: -4.5rem;
  }
  &__subtitle{
    margin-bottom: 2.4rem;
  }
}

.digital{
  position: relative;
  z-index: 2;
  overflow: visible;
  &__wrap{
    padding-top: 5.5rem;
    padding-bottom: 14.8rem;
  }
  &__subtitle {
    margin-bottom: 4.5rem;
    & > * {
      color: #F3B4BD;
    }
  }
  &__column{
    & > *{
      width: 58.4rem;
    }
  }
  &__img{
      position: absolute;
      width: 92.7rem;
      height: 67.2rem;
      transform: rotate(-150deg);
      bottom: -44rem;
      left: calc(50% - 130rem) ;
      z-index: 3;
  }
}

.look{
  position: relative;
  z-index: 1;
  &__wrap{
    padding:17.8rem 14.6rem 19.9rem 9.4rem;
    position: relative;
    overflow: visible;
  }
  &__desc{
    text-align: center ;
    margin-top: 5.6rem;
    & > *{
      color:var(--main-color)
    }
  }

  &__title{
    margin-bottom: 1.6rem;
    mark{
      background: linear-gradient(141.39deg, #ddccfc 13.88%, #b0d4f6 106.32%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
    }
    span{
      background: linear-gradient(141.39deg, #91c6ed 13.88%, #2022e5 106.32%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
    }
  }
  &__img{
    position: absolute;
    &:nth-child(1){
      width: 136.3rem;
      height: 107rem;
      top: 64%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: -1;
    }
    &:nth-child(2){
      width: 49.9rem;
      height: 49.9rem;
      transform: rotate(-30deg);
      bottom: -38rem;
      left: calc(50% + 30rem) ;
    }
  }
}
//

// strategy page
.strategy{
  header{
    background-color: var(--color-strategy);
  }
  &__main{
    background-color:var(--color-strategy);
  }
}

.transformation{
  position: relative;
  &__wrap{
    padding: 12rem 11.8rem 5rem;

  }
  &__img{
    max-width:120.4rem;
    max-height:89.5rem;
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    top: 2rem;
    transform: translate(-50%);
  }
  &__subtitle{
    margin-bottom: 5.6rem;
  }
}

.business{
  &__img{
    margin-top: 6rem;
    max-width:120.4rem;
    max-height:68rem;
    width: 100%;
    height: 100%;
  }
  &__wrap{
    padding-top: 0;
    padding-bottom: 18rem;
  }
  &__title > *{
    text-align: left;
  }
  &__block{
    max-width: 79.2rem;
  }
  &__subtitle{
    margin-bottom: 5.6rem;
  }

}

.product{
  &__img{
    max-width:120.4rem;
    max-height:68rem;
    margin-top: 2rem;
  }
  &__wrap{
    padding: 0rem 11.8rem 13.9rem;
  }
}

.userresearch{
  &__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25.1rem;
    padding-bottom: 14.2rem;
    background-image: linear-gradient(to right, var(--color-desc) 30%, rgba(255, 255, 255, 0) 10%);
    background-position: bottom;
    background-size: 0.5rem 0.2rem;
    background-repeat: repeat-x;
  }
  &__block{
    max-width: 58.6rem;
  }
  &__title > *{
    text-align: left;
  }
  &__img{
    max-width: 48.3rem;
    max-height: 48.8rem;
    width: 100%;
    height: 100%;
    margin-left: 1rem;
  }
  &__subtitle{
    margin-bottom: 4rem;
  }
}

.mapping{
  &__wrap{
    padding: 14rem 0 20.9rem;
  }
  &__desc{
    margin-top: 5.6rem;
    &-column > *{
      max-width: 46.9rem;
    }
  }

}
//

// technology page
.technology{
  header{
    background-color: var(--color-technology);
  }
  .header__burger{
    background-color: var(--color-white);
    &>*{
      background-color: var(--main-color) ;
    }
  }
  .header__burger-open{
    background-color: var(--main-color);
  }
  .header__logo{
    filter: brightness(0) invert(1);
  }
  .header__menu-item{
    color:var(--color-white) ;
  }
  &__main{
    background-color:var(--color-technology);
  }
}
.mobile{
  overflow: visible;
  &__wrap{
    overflow: visible;
  }
  &__title{
    margin-bottom: 4rem;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    overflow: visible;
  }
  &__block{
    max-width: 58.6rem;
    min-height: 80rem;
  }
  &__desc{

  }
  &__img{
    position: -webkit-sticky;
    position: sticky;
    max-width: 58rem;
    max-height: 59.9rem;
    top: 0;
    overflow: hidden;
  }
}

.web{
  &__wrap{
    padding-top: 12rem;
    padding-bottom: 15.3rem;
  }
  color: var(--color-white);
  &__content{
    display: flex;
    justify-content: space-between;
    margin-top: 12rem;
  }
  &__block{
    max-width: 47.6rem;
    margin-right: 10vw;
  }
  &__img{
    width: 6.1rem;
    height: 6.1rem;
    margin-bottom: 1.6rem;
  }
  &__desc > *{
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color:var(--color-footer)
  }
  &__title > *{
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 3.4rem;
  }
  &__item{
    max-width: 27.7rem;
    min-width: 18rem;
    &:first-child{
      margin-right: 3.2rem;
    }
  }
  &__row{
    display: flex;
    justify-content: space-between;
    &:not(:last-child){
      margin-bottom: 14rem;
    }
  }
  &__list{

  }
}
.support{
  &__wrap{
    padding-top: 14rem;
    padding-bottom: 17.8rem;
  }
  &__img{
    max-width:120.4rem;
    max-height:37.9rem;
    margin-top: 12rem;
  }
  &__block{
    max-width: 79.2rem;
    margin:  8rem auto 25rem;
  }
  &__product{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, var(--color-desc) 30%, rgba(255, 255, 255, 0) 10%);
    background-position: bottom;
    background-size: 0.5rem 0.2rem;
    background-repeat: repeat-x;
    padding-bottom: 18rem;
    margin:25rem 0 18rem;
    &-img{
      max-width: 58.2rem;
      max-height: 48rem;
      margin-right: 3.2rem;
    }
    &-block{
      max-width: 49%;
    }
    &-title >*{
      text-align: left;
    }
  }
  &__flex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 23rem;
    &-title{
      max-width: 51.5rem;
    }
    &-img{
      max-width: 51.5rem;
      max-height: 51.5rem;
      margin-bottom: 4rem;

    }
    &-item{
      &:first-child {
        margin-right:10.3rem;
        .support__flex-img{
          max-width: 58.6rem;
          max-height: 58.4rem;
          margin-bottom: -3.5rem;
        }
      }
      &:last-child{
        position: relative;
        top: 23rem;
      }
    }
  }
}


//culture style
.culture{
  &__item{
    margin: 0.5em 0;
    position: relative;
    background-image: linear-gradient(to right, var(--color-desc) 30%, rgba(255, 255, 255, 0) 10%);
    background-position: bottom;
    background-size: 0.5rem 0.2rem;
    background-repeat: repeat-x;
    padding: 5.8rem 0 ;
    &-header{
      display: flex;
      justify-content: flex-start;
      span:first-child{
        font-size: 34px;
        line-height: 34px;
        color: var(--color-desc);
        margin-right: 9rem;
      }
      span:nth-child(2){
        font-size: 3rem;
        line-height: 3rem;
        color: var(--main-color);
      }
    }
    &-toggle{
      position: absolute;
      font-size: 1.6rem;
      top: 6.9rem;
      right: 0;
      line-height: 2.4rem;
      color: var(--color-back);
      transition: all 0.3s ease;
      &:hover{
        color:  var(--main-color);
      }
    }
    &-img{
      width: 39.4rem;
      height: 23.4rem;
    }
    &-block{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      top: -4rem;
      p{
        max-width: 44rem;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-right: 3.2rem;
      }
    }
    &-inner{
      overflow: hidden;
      display: none;
      &.show{
        overflow: visible;
      }
    }
  }
}




label.error{
  position: absolute;
  color: indianred;
  bottom: 0;
  left: 0;
  width: max-content;
}























@media only screen and ( max-width: 666px) {
  .container{
    padding: 5rem 2rem;
  }
  .container__overflow{
    padding: 5rem 0 0 2rem;
  }
  .main__img{
    max-width: 47rem;
    width: 100%;
    height: auto;
    top: 0;
    right: 53%;
    position: absolute;
    transform: translate(50%);
    z-index: 1;
  }
  .main__title {
    position: relative;
    z-index: 2;
    margin-bottom: 2rem;
  }
  .main__title>*{
    font-size: 5rem;
    line-height: 5rem;
  }




  .main__flex{
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .main__flex-right,.main__flex-left{
    margin: 0;
  }
  .main__flex-img{
    max-width: 58rem;
    height: 8rem;
    width: 100%;
  }
  .main__social{
    right: 1rem;
    top: 15rem;
    //top: calc(50% - 2rem);
  }
  .main__contactus{
    width: 7.4rem;
    height: 7.4rem;
    bottom: 2rem;
    right: 1rem;
    top: auto;

  }
  .main__social-item{
    width: 2.6rem;
    height: 2.6rem;
  }

  .section__title > *{
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 1.2rem;
  }
  .section__desc > *{
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  .section__desc-less > *:not(:last-child){
    margin-bottom: 1rem;
  }
  .section__title-less>*{
    font-size: 3.4rem;
    line-height: 3.4rem;
  }
  .section__title-least>*{
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  .section__desc-column{
    column-count: 1;
    column-gap:0rem ;
    p{
      margin: 0!important;
    }
  }
  .section__desc-column > *{
    text-align: center;
    width: 100%;
    max-width: 100%;
  }



  .whatdo__list{
    flex-direction: column;
    margin-top: 2rem;
  }
  .whatdo__title>*{
    font-size: 2rem;
    line-height: 2rem;
  }
  .whatdo__subtitle>*{
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .whatdo__desc>*{
    margin: 1rem 0 0;
    max-height: 10rem;
    height: auto;
  }
  .whatdo__item{
    max-width: 100%;
    &:not(:last-child){
      margin: 0 0 2rem 0;
      padding: 1rem;
      background-image: linear-gradient(to right, var(--color-desc) 30%, rgba(255, 255, 255, 0) 10%);
      background-position: bottom;
      background-size: 0.5rem 0.2rem;
      background-repeat: repeat-x;
    }
  }
  .projects__list{
    margin-top: 5rem ;
  }

  .projects__title > *{
    font-size: 3rem;
    line-height: 3rem;
  }
  .projects__item:not(:last-child){
    padding-bottom: 3rem;
    margin-bottom: 3rem;
  }
  .projects__item > a{
    font-size: 2.6rem;
    line-height: 2.6rem;
    margin-bottom: 1rem;
  }

  .insights__block{
    margin-bottom: 5rem;
  }
  .insights__wrap{
    padding-bottom: 0;
    padding-top: 15rem;
  }
  .insights-next:after, .insights-prev:after{
    width: 3rem;
    height: 3rem;
    background-size: 3rem,3rem;
  }
  .insights-next, .insights-prev {
    width: 3rem;
    height: 3rem;
    top: 108%;
    transform: translate(-50%,-50%);
  }
  .insights-prev{
    left:calc(50% - 2rem);
  }
  .insights-next{
    left:calc(50% + 2rem);

  }
  .insights__back{
    width: 24.3rem;
    height: auto;
    top: 0;
  }
  .insights__list{
    padding:0 2rem;
    margin: 0 auto;
  }
  .insights__item{
    max-width: 100%;
  }
  .insights__img{
    width: 100%;
    max-width: 36rem;
    margin: 0 auto;
    height: auto;
  }
  .insights__slider .slick-dots{
    display: none!important;
  }
  .insights__slider .slick-dots{
    max-width: calc(100vw - 4rem);
  }
  .insights__slider-block:after{
    height: 25rem;
    bottom: 0rem;
  }
  .insights__slider-block {
    top: -3rem;
  }
  .insights__slider{
    padding: 0;
    padding-bottom:  5rem ;
  }
  .insights__slider-block:after{
    height: 20rem;
  }

  .insights__paragraph{
    font-size: 2.2rem;
    line-height: 3.3rem;
  }
  .insights__paragraph:before{
    left:0;
    top: 0;
  }
  .insights__title>*{
    font-size: 1.8rem;
    line-height:2.4rem;
    text-align: center;
  }
  .insights .slick-list{
    padding: 0;
  }
  .insights__item{
    margin: 0 auto;
  }

  .insights__text>*{
    font-size: 1.2rem;
    text-align: center
  }
  .insights__text{
    margin: 1rem 0;
  }
  .offer__wrap{
    padding-bottom: 8rem;
  }

  .offer__list:first-child{
    margin-bottom: 5rem;
  }

  .offer__img{
    width: 6rem;
    height: 6rem;
  }
  .offer__text{
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .offer__item:not(:last-child){
    margin-right:0;
  }
  .offer__desc{
    margin: 2rem 0 4rem;
  }
  .offer__join-button>*{
    width: max-content;
    display: block;
    padding: 1rem 2rem;
    margin-left: 1rem;
  }
  .offer__join-title>*{
    font-size: 2rem;
    line-height: 2rem;
  }
  .offer__join-desc>*{
    font-size: 1.4rem;
    line-height:1.4rem;
  }
  .offer__join{
    padding: 1rem 1.5rem;
    border-radius: 0;
  }

  .subs__wrap{
    padding-top: 15rem;
  }

  .subs__input-block{
    flex-direction: column;
  }
  .subs__input-less{
    width: 100%;
  }
  .subs__input-less:first-child{
    margin: 0;
  }
  .subs__input{
    font-size: 1.6rem;
    padding: 2rem 0;
    margin-bottom: 0rem;
  }
  .subs__input::placeholder{
    font-size: 1.6rem;
  }
  .subs__button>*{
    padding: 1rem 2rem;
  }
  label.error{
    font-size: 1.2rem;
  }

  .footer__content{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 5rem 0rem 7rem;
    margin: 0;
  }
  .footer__subs{
    padding: 1rem 0;
  }
  .footer__form-input{
    width: 100%;
    font-size:1.6rem;
    &::placeholder{
      font-size:1.6rem
    }
  }
  .footer__form-block{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer__form-button{
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    height: 4.4rem;
  }
  .footer__block{
    padding:  0;
  }
  .footer__block:not(:last-child){
    margin: 0;
  }
  .footer__info{
    margin: 0;
    margin-bottom: 2rem;
  }
  .footer__bottom-text {
    width: max-content;
    margin-left: 1rem;
    font-size: 1.2rem;
  }
  .footer__bottom{
    position: relative;
  }
  .footer__bottom-block{
    &:first-child{
      .footer__bottom-text{
        display: none;
      }
    }
  }
  .footer__social{
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translate(-50%);
  }
  .footer__social-item{
    margin-left: 0;
    margin-right: 1rem;
  }
  .footer__logo{
    margin: 0 auto 2rem;
  }
  .footer__item-title{
    margin-bottom: 1.4rem;
  }
  .footer__item{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    width: inherit;
  }
  .footer__container{
    margin: 0;
    padding: 0 2rem;
  }
  .footer__info-text > *{
    margin: 0 auto;
  }
  .footer__wrap{
    padding-bottom: 2rem;
  }
  .footer__item-title > *{
    margin-bottom: 1rem;
  }
  .header__menu-item{
    display: none;
  }
  .header__burger{
    display:flex;
  }
  .header__logo{
    width: 10rem;
    height: auto;
  }
  .header__burger{
    width: 3rem;
    height: 3rem;
  }
  .header__burger>*{
    height: 0.1rem;
  }
  .header{
    padding: 2rem ;
  }
  .header__hidden-item:first-child{
    margin-bottom: 3rem;
  }
  .header__hidden-title{
    font-size: 2.6rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .header__hidden-list li{
    margin-bottom: 1rem;
    text-align: center;
  }
  .header__hidden-list a{

    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .header__hidden-link li{
    margin-bottom: 1rem;
  }
  .header__burger-visible{
    padding: 8rem 0 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
  }

  .header__hidden-img{
    top: 2rem;
    left: 2rem;
  }
  .header__burger-wrap {
    top: -7rem;
  }

  .header__hidden-block:last-child{
    margin: 0;
  }

  .header__hidden-link{
    width: max-content;
    text-align: center;
  }
  .header__hidden-link li{
    color: var(--color-back);
  }
  .header__social{
    justify-content: center;
  }
  .header__hidden-link a{
    font-size: 2rem;
  }
  .research__desc{
    margin: 2rem 0;
  }
  .research__wrap-less{
    padding: 0;
  }
  .design__desc{
    margin: 0;
  }
  .design__img{
    margin: 2rem 0;
  }

  .experience__item:last-child{
    margin-top: 4rem;
  }
  .experience__wrap{
    flex-direction: column;
  }
  .experience__img{
    margin-top: 2rem;
  }
  .experience__block{
    margin:0;
  }
  .digital__subtitle{
    text-align: center;
    margin-bottom: 2rem;
  }

  .section__title-overflow{
    padding: 0;
    margin-bottom: 2rem;
  }
  .section__title-overflow > *{
    font-size: 7rem;
    line-height: 7rem;
  }
  .section__subtitle > *{
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
  }
  .section__title-thin > *{
    font-size: 4rem;
    line-height: 4rem;
  }
  .section__desc-main > *:not(:last-child){
    margin-bottom: 2rem;
  }
  .digital__wrap{
    padding-top: 0;
  }
  .digital__img{
    width: 30rem;
    height: auto;
    bottom: -15rem;
    left: calc(50% - 35rem);
  }
  .look__img:nth-child(1) {
  display: none;
  }
  .look__img:nth-child(2){
    width: 25rem;
    height: auto;
    left: calc(50% + 5rem);
    bottom: -17rem;
  }
  .transformation__subtitle{
    margin-bottom: 2rem;
  }
  .section__title-less{
    margin-bottom: 2rem;
  }
  .mapping__desc{
    margin-top: 2rem;
  }
  .product__wrap{
    padding-top: 0;
  }



  .web__content{
    flex-direction: column;
    margin-top: 5rem;
  }
  .web__row{
    flex-direction: column;

  }
  .web__row:not(:last-child){
    margin: 0 ;
  }
  .web__item:first-child{
    margin: 0 0 2rem 0;
  }
  .web__item{
    margin-bottom:2rem ;
    max-width: 100%;
    text-align: center;
  }
  .web__img{
    margin: 0 auto 1rem;
  }
  .web__block{
    margin:  0 0 2rem 0;
    max-width: 100%;
    text-align: center;
  }
  .support__img{
    margin-top: 5rem
  }
  .support__block{
    margin: 5rem 0;
  }
  .support__product{
    flex-direction: column;
    margin: 5rem 0;
    padding-bottom: 5rem;
  }
  .support__product-img{
    margin: 0 auto 2rem;
  }
  .support__product-block{
    max-width: 100%;
  }
  .support__flex{
    flex-direction: column;
    padding-bottom: 0;
  }
  .support__flex-item:first-child{
    margin: 0;
  }
  .support__flex-item:last-child {
    top: 0;
    margin-top: 2rem;
  }

}

