<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dgtl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css styles/plagins.css -->
    <link rel="stylesheet" href="styles/fancybox.css">
    <link rel="stylesheet" href="styles/formstyler.css">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
        <!-- add you plagin css here -->

    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/critical.css">
    <link rel="stylesheet" href="styles/index.css">
    <!-- add you develop css here -->

    <!-- endbuild -->

</head>
<body>