<!-- HEADER -->
<header class="wrap">
        <div class="header container">
            <div class="header__block">
                <a href="index.html" class="header__logo">
                    <img src="img/icon/Logo.svg" alt="">
                </a>
                <div class="header__flex">
                    <ul class="header__menu">
                        <li class="header__menu-item">
                            <a href="">what we do</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="">solutions</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="">case studies</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="">insights center</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="">careers</a>
                        </li>

                    </ul>
                    <div class="header__burger">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__burger-wrap">
            <div class="container header__burger-container">
                <div class="header__burger-menu">
                    <a class="header__hidden-img">
                        <img src="img/icon/logo-blue.svg" alt="">
                    </a>
                    <div class="header__hidden-block " >
                        <div class="header__hidden-item">
                            <div class="header__hidden-title">What we do</div>
                            <ul class="header__hidden-list">
                                <li><a href="#">Customer experience</a></li>
                                <li><a href="#">Strategy</a></li>
                                <li><a href="#">Technology</a></li>
                            </ul>
                        </div>
                        <div class="header__hidden-item">
                            <div class="header__hidden-title">Case Studies</div>
                            <ul class="header__hidden-list">
                                <li><a href="#">Shufersal</a></li>
                                <li><a href="#">Bank Hapoalim</a></li>
                                <li><a href="#">Yellow</a></li>
                                <li><a href="#">Corona</a></li>
                                <li><a href="#">Catch App</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header__hidden-block" >
                        <ul class="header__hidden-link">
                            <li><a href="#">Solutions</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Insights Center</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                        <ul class="header__social">
                            <li class="header__social-item main__social-item">
                                <a href="">
                                    <svg class="main__social-svg">
                                        <use href="../img/icon/symbol-defs.svg#icon-instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="header__social-item main__social-item">
                                <a href="">
                                    <svg class="main__social-svg">
                                        <use href="../img/icon/symbol-defs.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="header__social-item main__social-item">
                                <a href="">
                                    <svg class="main__social-svg">
                                        <use href="../img/icon/symbol-defs.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</header>
<!-- /HEADER -->

