<!-- SCRIPTS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<!-- build:js scripts/validate_script.js -->
<script type="text/javascript" src="scripts/validate_script.js" ></script>
<!-- endbuild -->

<!-- build:js scripts/plagins.js -->
<script type="text/javascript" src="scripts/plagins/device.js" ></script>
<!--<script type="text/javascript" src="scripts/plagins/jquery.fancybox.min.js" ></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.Marquee/1.5.0/jquery.marquee.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script type="text/javascript" src="scripts/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="scripts/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="scripts/plagins/maskInput.js" ></script>
<script type="text/javascript" src="scripts/plagins/slick.js" ></script>
    <!-- add you plagins js here -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script type="text/javascript" src="scripts/basic_scripts.js" ></script>
<script type="text/javascript" src="scripts/develop/index.js" ></script>
    <!-- add you develop js here -->
<!-- endbuild -->

<!-- /SCRIPTS -->
